@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mali:wght@200;300;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
}
:root {
  --font-primary: "Baloo 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Mali", serif;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.titulo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.titulo h1 {
  color: #ffff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  text-shadow: 0.2rem 0.3rem 2px rgba(253, 51, 51, 0.2);
}
.p1 {
  font-family: var(--font-secundary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.3rem 2px rgba(253, 51, 51, 0.2);
  margin-bottom: 2rem;
}
.p2 {
  font-family: var(--font-secundary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.3rem 2px rgba(253, 51, 51, 0.2);
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.titulo button {
  font-family: var(--font-action);
  color: #ffffff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translate(-50%, -50%);
}

.titulo button:hover {
  color: #d1f2fa;
  background-color: #b1d6f0;
  background-image: linear-gradient(135deg, #92acbd 0%, #7275a0 100%);
}

.img_inicial {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.my_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  animation: zoom 25s;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

article {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
#envolto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

#assunto {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  transition: all 0.6s;
  padding: 30px;
  max-width: 750px;
  width: 100vw;
  backface-visibility: hidden;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
}
#assunto:hover {
  border: 3px dotted #000;
}
#assunto h1 {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 2rem;
}
#assunto h2 {
  font-family: var(--font-primary);
  font-style: italic;
  font-size: 1rem;
}

ul {
  font-family: var(--font-action);
  color: #ffff;
  padding-left: 10px;
}
.link {
  font-family: var(--font-action);
  color: #000;
  padding-left: 10px;
}
.link:hover {
  color: rgb(236, 106, 106);
}
ol {
  font-family: var(--font-action);
  color: #ffff;
  padding-left: 10px;
}

#conteudo_social_media {
  position: relative;
}
.social-media {
  position: absolute;
  top: -350px;
  left: 150px;
  padding: 50px;
  display: flex;
}
.social-media a {
  padding: 10px;
}
.social-media i {
  background-color: #66a2f1;
  color: #fff;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-media i:hover {
  background-color: #2193b0;
}
#voltar_home {
  position: relative;
}
#button_voltar {
  font-size: 3rem;
  color: #ffff;
  position: absolute;
  top: 180px;
  left: 100px;
  background-color: transparent;
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#button_voltar:hover {
  color: rgb(236, 106, 106);
}
